<!DOCTYPE html>
<html>
  <head>
    <title>FaucetPipelineRailsExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <%= image_tag "logo.png", width: "512", height: "512" %>
    <%= yield %>
  </body>
</html>
