<!DOCTYPE html>
<html>
  <head>
    <title>FaucetPipelineRailsExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("logo.svg", width: 200, height: 200) %>
    <%= yield %>
  </body>
</html>
